/* header part css */
header {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    background-image: url(./images/backg.avif);
    background-size: 1500px;
    background-repeat: no-repeat;
    height: "80px";
    margin-bottom: 10px;
    padding: 15px;
    position: sticky;
    top: 1
}

#login:hover {
    background-color: red;
    background-image: linear-gradient(to right, red, yellow);

}

#signup:hover {
    background-color: green;
    background-image: linear-gradient(to right, green, yellow);

}

#filter:hover {
    background-color: blue;
    background-image: linear-gradient(to right, blue, yellow);

}


/* body data links */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

/* Fetching data css code */
#btcsymbol {
    margin-top: -40px;
    margin-left: 45px;
    color: black;
    font-size: 14px;
}

#btcname {
    margin-left: 45px;
    color: black;
    font-size: 14px;
}

a {
    text-decoration: none;
}

/* login  code */
#note {
    text-align: center;
    font-size: 15px;
    margin-top: 13px;
    background-color: yellow;
}

.h-custom {
    height: calc(100% - 73px);
}

#forget {
    text-decoration: none;
}

#forget:hover {
    text-decoration: underline;
    color: blue;
}

/* signup  code */

.gradient-custom-3 {

    background: #84fab0;
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

#signupsubmit:hover {
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    color: black;
}

#signupsubmit {
    text-decoration: none;
}

.cancel {
    color: white;
}

/* buttons css */

#cancel:hover {

    color: black;
    background: #f58968;
    background: linear-gradient(to right, rgba(250, 122, 176, 0.5), rgba(211, 131, 234, 0.5))
}

.log:hover {
    color: black;
    background: #593ef0;
    background: linear-gradient(to right, rgba(120, 42, 250, 0.5), rgba(181, 231, 250, 0.5))
}

#facebook:hover,
#twitter:hover,
#insta:hover {
    background-color: rgb(5, 5, 109);
}

div#rg {
    height: 90px;
}





@media screen and (min-width:1200px) and (max-width:1600px) {
    #first {
        grid-row: 1;
        grid-column: 1;
        display: inline;
        justify-content: space-between;
    }

    #cryptoid {
        margin-left: 100px;
    }

    #second {
        grid-row: 1;
        grid-column: 2;
        margin-left: 40px;
    }

    #third {
        grid-row: 1;
        grid-column: 3;
        margin-left: 70px;
        display: flex;
        height: 40px;
        margin-top: 18px;
    }

    #burger {
        display: none;
    }

    #third button {
        margin-right: 10px;
    }

    #tablediv {
        height: 600px;

        overflow: scroll;

    }

    #login {
        width: 80px;
    }

    #signup {
        width: 80px;
    }

    #filter {
        width: 80px;
    }

    .right-img img {
        width: 200px;
        height: 196px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width:768px) and (max-width:1190px) {

    #first {
        grid-row: 1;
        grid-column: 1;
        display: flex;
    }

    #first img {
        width: 100px;
        height: 50px;
        margin-right: 20px;
    }

    #second {
        grid-row: 1;
        grid-column: 2;
        width: 75%;
    }

    #third {
        grid-row: 1;
        grid-column: 3;
        margin-left: 6px;
        display: flex;
        height: 40px;
        margin-top: 18px;
    }

    #third button {
        margin-right: 6px;
    }

    #burger {
        display: none;
    }

    #slideshow1,
    #slideshow2 {
        display: none;
    }


    #tablediv {
        height: 750px;
        width: auto;
        overflow: scroll;

    }


}

@media screen and (min-width:479px) and (max-width:767px) {

    #slideshow1,
    #slideshow2 {
        display: none;
    }

    #first {
        display: flex;
        grid-row: 1;
        grid-column: 1/4;
    }

    #first img {
        width: 100px;
        height: 50px;
    }

    #cryptoid {
        margin-left: 30px;
    }

    #second {
        grid-row: 2;
        grid-column: 1/4;
        width: 100%;
    }

    #mytable {
        width: auto;
    }

    #tablediv {
        height: 500px;
        width: auto;
        overflow: scroll;
    }

    #third {
        display: none;
    }

    #burger {
        grid-row: 3;
        grid-column: 1/4;
        width: 100%;

    }

    #menu {
        margin-top: -45px;
        margin-left: 80px;
    }


}

@media screen and (max-width:480px) and (orientation:portrait) {
    #first {
        display: flex;
        grid-row: 1;
        grid-column: 1/4;
    }

    #first img {
        width: 100px;
        height: 50px;
    }

    #cryptoid {
        margin-left: 30px;
    }

    #second {
        grid-row: 2;
        grid-column: 1/4;
        width: 100%;
    }

    #third {
        display: none;
    }

    #burger {
        grid-row: 3;
        grid-column: 1/4;
        width: 100%;

    }

    #menu {
        margin-top: -45px;
        margin-left: 65px;
    }

    #mytable {
        width: auto;
    }

    #slideshow1,
    #slideshow2 {
        display: none;
    }

    #tablediv {
        height: 500px;
        width: auto;
        overflow: scroll;
    }
}

/* left side animation */

@keyframes slide_animation {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: 1200px;
    }

    30% {
        left: 1200px;
    }

    40% {
        left: 2400px;
    }

    50% {
        left: 2400px;
    }

    60% {
        left: 1200px;
    }

    70% {
        left: 1200px;
    }

    80% {
        left: 0px;
    }

    90% {
        left: 0px;
    }

    100% {
        left: 0px;
    }
}

@-webkit-keyframes slide_animation {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: 1200px;
    }

    30% {
        left: 1200px;
    }

    40% {
        left: 2400px;
    }

    50% {
        left: 2400px;
    }

    60% {
        left: 1200px;
    }

    70% {
        left: 1200px;
    }

    80% {
        left: 0px;
    }

    90% {
        left: 0px;
    }

    100% {
        left: 0px;
    }
}



.slider-frame {
    overflow: hidden;
    height: 610px;
    width: 180px;

}

.slide-images {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 5s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.img-container {
    height: 600px;
    width: 1200px;
    position: relative;
    float: left;
}

/* right side animation */

#car1 img {
    overflow: hidden;
    height: 225px;
    width: 180px;
}

#car2 img {
    margin-top: 6px;
    overflow: hidden;
    height: 225px;
    width: 180px;
}
